section.section_benefits.section
    .anchor#link-2
    .container
        .h2 Переваги
        .wrap
            .item.item_1
                .text Великий вибір гуртків
                    .iconInfo.color_4
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_2
                .text Постійний зв'язок  з батьками
                     .iconInfo.color_1
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_3
                .text В кожній групі – вихователь + помічник вихователя+ няня
                     .iconInfo.color_2
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_4
                .text Пізнавальні та розважальні екскурсії кожні 2 місяці безкоштовно
                     .iconInfo.color_3
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_5
                .text Охорона 24/7. Відеоспостереження в вашому телефоні
                     .iconInfo.color_4
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_6
                .text Своя кухня і кваліфіковані кухари
                     .iconInfo.color_2
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_7
                .text Англійська з 2-х років
                     .iconInfo.color_3
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_8
                .text У кожної групи окремий ігровий майданчик
                     .iconInfo.color_4
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_9
                .text Безкоштовне розвезення дітей по домівках
                     .iconInfo.color_1
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_10
                .text Комфортні групи
                     .iconInfo.color_2
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_11
                .text Велика територія
                     .iconInfo.color_4
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_12
                .text Якісна підготовка до школи
                     .iconInfo.color_3
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
            .item.item_13
                .text Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    .iconInfo.color_1
                        svg.icon
                            use(xlink:href="img/svg/sprite.svg#iconInfo")
                        .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
