section.section_contact.section
    .anchor#link-2
    .container
        .wrapper
            .map_wrap
                <iframe class='map' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2750.658678061631!2d30.715543115807208!3d46.41582267746102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6336d7af0c61f%3A0xae5a3377dade6ac1!2z0K_RgdC70LAt0YHQsNC00L7QuiDQp9C-0YDQvdC-0LzQvtGA0YHRjNC60LjQuS0y!5e0!3m2!1suk!2sua!4v1635698832571!5m2!1suk!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            .info_wrap
                .info_inner
                    h2 Контакты <br><span>ясла - садка Чорноморський<span>
                    .address.info Адреса: м. Одеса, пр. Небеснои СотнI
                    .phones.info
                        a.info(href='tel:0487366300') (048) 736 63 00
                        a.info(href='tel:0487366300') (048) 736 63 00
                    .social_media
                        a.social(href='#')
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#viber")
                        a.social(href='#')
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#facebook")
                        a.social(href='#')
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#whatsapp")
                        a.social(href='#')
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#inst")
                    .school
                        img(src='img/school.png')
                        .text_section
                            .title Завітайте на нашої школи:
                            .text Адреса: м. Одеса, пр. Небеснои Сотні сайт


