section.section_fqa.section
    .container
        .h2 Питання/відповідь
        .row
            .column
                .item   
                    .title.fqa_js What is a professional traffic permit?   
                    .text 
                        span Traffic permits are a requirement for conducting professional traffic. Traffic permits are a requirement for conducting professional traffic. Traffic permits are a requirement for conducting professional traffic.
                .item   
                    .title.fqa_js What is a professional traffic permit?   
                    .text 
                        span Traffic permits are a requirement for conducting professional traffic.
                .item   
                    .title.fqa_js What is a professional traffic permit?   
                    .text 
                        span Traffic permits are a requirement for conducting professional traffic.
                .item   
                    .title.fqa_js What is a professional traffic permit?   
                    .text 
                        span Traffic permits are a requirement for conducting professional traffic.
                
            .column
                .item   
                    .title.fqa_js What is a professional traffic permit?
                    .text 
                        span Traffic permits are a requirement for conducting professional traffic.
                .item   
                    .title.fqa_js What is a professional traffic permit?   
                    .text 
                        span Traffic permits are a requirement for conducting professional traffic.
                .item   
                    .title.fqa_js What is a professional traffic permit?   
                    .text 
                        span Traffic permits are a requirement for conducting professional traffic.
                .item   
                    .title.fqa_js What is a professional traffic permit?   
                    .text 
                        span Traffic permits are a requirement for conducting professional traffic.