section.section_memo.section
    .anchor#link-2
    .container
        .title_block
            .h2.title <span> Пам'ятка з переліком<br>документів</span> для вступу до садка
            .button Подивитись пам'ятку


