section.section_mug.section
    .anchor#link-2
    .container
        .h2
            span Кружки
    .bg-cov.mug_wrap
        .container
            .row
                .column.left
                    .block.block_1
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo
                                .title Лего
                                .tetx Лего
                                .price Лего
                        span.text Лего
                    .block.block_2
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                        span.text Лего
                    .block.block_3
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                        span.text Лего
                    .block.block_4
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                        span.text Лего
                    .block.block_5
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                        span.text Лего
                    .block.block_6
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                        span.text Лего
                    .block.block_7
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                        span.text Лего
                    .block.block_8
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                        span.text Лего
                    .block.block_9
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                        span.text Лего
                    .block.block_10
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                        span.text Лего
                .column.right
                    .main
                        img.logo(src="img/logo.png", alt="logo")
                .ship_wrapper
                .wrap.swiper.shipSwiper
                    .slider.swiper-wrapper
                        .swiper-slide.item
                            .block
                                span.iconInfo.color_1
                                    svg.icon
                                        use(xlink:href="img/svg/sprite.svg#iconInfo")
                                    .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                                span.text Лего
                        .swiper-slide.item
                            .block
                                span.iconInfo.color_1
                                    svg.icon
                                        use(xlink:href="img/svg/sprite.svg#iconInfo")
                                    .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                                span.text Лего
                        .swiper-slide.item
                            .block
                                span.iconInfo.color_1
                                    svg.icon
                                        use(xlink:href="img/svg/sprite.svg#iconInfo")
                                    .blockInfo  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                                span.text Лего
                    .swiper-button-next
                    .swiper-button-prev



