section.section_price.section
    .anchor#link-3
    .container
        .h2 
            span Ціни
        .row
            .card_price.card-1
                .title Повний день
                    span  (2-3 роки)
                ul.list_icon
                    li.item
                        span.info_title Перебування: 
                        span.info_text  с 8:30 до 18:00
                    li.item
                        span.info_title Доставка: 
                        span.info_text  вранці и ввечері
                    li.item
                        span.info_title Харчування: 
                        span.info_text  5 разів/ день
                    li.item
                        span.info_title Наповнюваність груп: 
                        span.info_text  до 14 осіб
                .subtitle Заняття:
                ul.list_dote
                    li.item
                        span.info_text Конструювання
                    li.item
                        span.info_text Сенсорика
                    li.item
                        span.info_text Знайомство с природою
                    li.item
                        span.info_text Музыка
                    li.item
                        span.info_text Танцi
                    li.item
                        span.info_text Фізкультура
                    li.item
                        span.info_text "Чарівна казка" з психологом
                    li.item
                        span.info_text English club
                    li.item
                        span.info_text Пальчикові ігри з логопедом
                    li.item
                        span.info_text Дитина і суспільство
                    li.item
                        span.info_text Художня майстерня (ліплення, аплікація, малюнок
                ul.list_icon
                    li.item
                        span.info_title Прогулянки:
                        span.info_text  3 рази / день (з ранку, перед обідом і ввечері)
                    li.item
                        span.info_title Вся необхідна канцелярія,
                        span.info_text  навчальна література, іграшки.
                    li.item
                        span.info_title Кожен тиждень проходить у своїй тематиці.
                        span.info_text  По п'ятницях проводимо майстер-класи: кулінарні, науково-пізнавальні, творчі.
                .title Ціна:
                    span  9900 грн    
                .stock *скидки на 2,3,4 дитину
            
            .card_price.card-2
                .title Повний день
                    span  від 3-х років
                ul.list_icon
                    li.item
                        span.info_title Перебування: 
                        span.info_text  с 8:30 до 18:00
                    li.item
                        span.info_title Доставка: 
                        span.info_text  вранці и ввечері
                    li.item
                        span.info_title Харчування: 
                        span.info_text  5 разів/ день
                    li.item
                        span.info_title Наповнюваність груп: 
                        span.info_text  до 14 осіб
                    li.item
                        span.info_title Екскурсія: раз на 2 місяці 
                        span.info_text  до 14 осіб
                    li.item
                        span.info_title Гуртки:  
                        span.info_text  2 (з 4-х базових) безкоштовно на вибiр
                .subtitle Заняття:
                ul.list_dote
                    li.item
                        span.info_text Математика
                    li.item
                        span.info_text Логiка (в старших групах: грамота, лист, розвиток мови)
                    li.item
                        span.info_text Знайомство с природою
                    li.item
                        span.info_text Музыка
                    li.item
                        span.info_text Танцi
                    li.item
                        span.info_text Фізкультура
                    li.item
                        span.info_text "Чарівна казка" з психологом
                    li.item
                        span.info_text English club
                    li.item
                        span.info_text Пальчикові ігри з логопедом
                    li.item
                        span.info_text Дитина і суспільство
                    li.item
                        span.info_text Художня майстерня (ліплення, аплікація, малюнок)
                ul.list_icon
                    li.item
                        span.info_title Прогулянки:
                        span.info_text  3 рази / день (з ранку, перед обідом і ввечері)
                    li.item
                        span.info_title Вся необхідна канцелярія,
                        span.info_text  навчальна література, іграшки.
                    li.item
                        span.info_title Кожен тиждень проходить у своїй тематиці.
                        span.info_text  По п'ятницях проводимо майстер-класи: кулінарні, науково-пізнавальні, творчі.
                .title Ціна:
                    span  9900 грн    
                .stock *скидки на 2,3,4 дитину

            .card_price.card-3
                .title Повний день
                    span  (2-3 роки)
                ul.list_icon
                    li.item
                        span.info_title Перебування: 
                        span.info_text  с 8:30 до 18:00
                    li.item
                        span.info_title Доставка: 
                        span.info_text  вранці и ввечері
                    li.item
                        span.info_title Харчування: 
                        span.info_text  5 разів/ день
                    li.item
                        span.info_title Наповнюваність груп: 
                        span.info_text  до 14 осіб
                .subtitle Заняття:
                ul.list_dote
                    li.item
                        span.info_text Конструювання
                    li.item
                        span.info_text Сенсорика
                    li.item
                        span.info_text Знайомство с природою
                    li.item
                        span.info_text Музыка
                    li.item
                        span.info_text Танцi
                    li.item
                        span.info_text Фізкультура
                    li.item
                        span.info_text "Чарівна казка" з психологом
                    li.item
                        span.info_text English club
                    li.item
                        span.info_text Пальчикові ігри з логопедом
                    li.item
                        span.info_text Дитина і суспільство
                    li.item
                        span.info_text Художня майстерня (ліплення, аплікація, малюнок)
                ul.list_icon
                    li.item
                        span.info_title Прогулянки:
                        span.info_text  3 рази / день (з ранку, перед обідом і ввечері)
                    li.item
                        span.info_title Вся необхідна канцелярія,
                        span.info_text  навчальна література, іграшки.
                    li.item
                        span.info_title Кожен тиждень проходить у своїй тематиці.
                        span.info_text  По п'ятницях проводимо майстер-класи: кулінарні, науково-пізнавальні, творчі.
                .title Ціна:
                    span  9900 грн    
                .stock *скидки на 2,3,4 дитину
        .button_wrap
            .button Замовити