section.section_team.section
    .anchor#link-2
    .container
        .h2
            span  Наша команда
        .team_wrapper
            .wrap.swiper.teamSwiper
                .slider.swiper-wrapper
                    .swiper-slide.item
                        img(src="img/team.jpg", alt="team")
                    .swiper-slide.item
                        img(src="img/team.jpg", alt="team")
                    .swiper-slide.item
                        img(src="img/team.jpg", alt="team")
                    .swiper-slide.item
                        img(src="img/team.jpg", alt="team")
                    .swiper-slide.item
                        img(src="img/team.jpg", alt="team")
                    .swiper-slide.item
                        img(src="img/team.jpg", alt="team")
                    .swiper-slide.item
                        img(src="img/team.jpg", alt="team")
                    .swiper-slide.item
                        img(src="img/team.jpg", alt="team")
                    .swiper-slide.item
                        img(src="img/team.jpg", alt="team")
            .swiper-button-next
            .swiper-button-prev


