section.section_time.section
    .anchor#link-2
    .container
        .h2 Ясла-садок
            span  Чорноморський
        .circle_time
            .time_wrap.time_wrap-1
                .item.item-1.color_4
                    span.text Зустріч дітей
                        span.iconInfo.color_4
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 8:30 – 8:55

            .time_wrap.time_wrap-2
                .item.item-2.color_1
                    span.text Ранкова зарядка
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 8:55 – 9:05
            .time_wrap.time_wrap-3
                .item.item-3.color_3
                    span.text Сніданок
                        span.iconInfo.color_3
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 9:05 – 9:25
            .time_wrap.time_wrap-4
                .item.item-4.color_4
                    span.text Заняття
                        span.iconInfo.color_4
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 9:30 – 11:00
            .time_wrap.time_wrap-5
                .item.item-5.color_3
                    span.text Бранч
                        span.iconInfo.color_3
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 11:00 – 11:15
            .time_wrap.time_wrap-6
                .item.item-6.color_2
                    span.text Прогулянка
                        span.iconInfo.color_2
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 11:15 – 12:35
            .time_wrap.time_wrap-7
                .item.item-7.color_1
                    span.text Обід
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BR  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 12:35 – 13:00
            .time_wrap.time_wrap-8
                .item.item-8.color_2
                    span.text Казочка, денний сон
                        span.iconInfo.color_2
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BL  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 13:00 – 14:55
            .time_wrap.time_wrap-9
                .item.item-9.color_3
                    span.text Гімнастика, полуденок
                        span.iconInfo.color_3
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BL  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 14:55 – 15:15
            .time_wrap.time_wrap-10
                .item.item-10.color_4
                    span.text Гуртки та ігри
                        span.iconInfo.color_4
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BL  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 15:15 – 16:40
            .time_wrap.time_wrap-11
                .item.item-11.color_1
                    span.text Вечеря
                        span.iconInfo.color_1
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BL  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 16: 40 – 17:00
            .time_wrap.time_wrap-12
                .item.item-12.color_2
                    span.text Прогулянка
                        span.iconInfo.color_2
                            svg.icon
                                use(xlink:href="img/svg/sprite.svg#iconInfo")
                            .blockInfo.BL  Спеціалісти : логопед, психолог, інструктор з фізичної підготовки, музичний керівник, хореограф
                    span.time 17:00 – 18:00

