section.section_video.section.btn-1
    .anchor#link-2
    .container.row
        .tabs
            .btn-1.button.on Вiтальня
            .btn-2.button Спальня
            .btn-3.button Кухня
        .video-btn_wrap
            a.btn-1.video_btn.on(href='https://www.youtube.com/watch?v=Lu5tpl4OH-Q&ab_channel=%D0%AF%D1%81%D0%BB%D0%B0-%D1%81%D0%B0%D0%B4%D0%BE%D0%BA%D0%A7%D0%BE%D1%80%D0%BD%D0%BE%D0%BC%D0%BE%D1%80%D1%81%D1%8C%D0%BA%D0%B8%D0%B9')
            a.btn-2.video_btn(href='https://www.youtube.com/watch?v=Lu5tpl4OH-Q&ab_channel=%D0%AF%D1%81%D0%BB%D0%B0-%D1%81%D0%B0%D0%B4%D0%BE%D0%BA%D0%A7%D0%BE%D1%80%D0%BD%D0%BE%D0%BC%D0%BE%D1%80%D1%81%D1%8C%D0%BA%D0%B8%D0%B9')
            a.btn-3.video_btn(href='https://www.youtube.com/watch?v=Lu5tpl4OH-Q&ab_channel=%D0%AF%D1%81%D0%BB%D0%B0-%D1%81%D0%B0%D0%B4%D0%BE%D0%BA%D0%A7%D0%BE%D1%80%D0%BD%D0%BE%D0%BC%D0%BE%D1%80%D1%81%D1%8C%D0%BA%D0%B8%D0%B9')

    svg.banner_mask
        <clipPath id="banner-clip-path" clipPathUnits="objectBoundingBox"><path d="M0.804,0.927 C0.918,1,0.982,0.932,1,0.869 L1,0.012 L0,0.001 L0,0.869 C0.024,1,0.254,0.994,0.366,0.927 C0.465,0.883,0.69,0.822,0.804,0.927"></path></clipPath>