footer.footer
   .container
        .row
            .logo_wrap
                a.logo(href='#')
                    img(src='img/logo.png' alt='logo')
            form.form_wrap
                .title Підпишися на новини
                .row_wrap
                    input(type='text' placeholder='Email')
                    input.button(type='submit' value='Підписатися').button
            .info_wrap
                a.link(href='#') Політика конфіденційності
                .infoCopyright  Copyright © 2014-2021 <br> NIKA All rights reserved



