head
    title= 'Ясла-садок Чорноморський'
    meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.2.0/swiper-bundle.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css")
    link(rel="stylesheet" href="css/style.css")
    link(rel="shortcut icon" href="img/logo.png")