.section_time-description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #3a5e6f;
  text-align: center;
}
.section_time-description strong {
  font-weight: 500;
}

.section_form {
  overflow-x: clip;
}

.section_form .row .form_inner .subtitle {
  max-width: 470px;
}

.section_form .title {
  line-height: 62px;
  margin-bottom: 23px;
}

.section_mug .mug_wrap .block {
  height: 204px;
}

.section_mug .mug_wrap .swiper {
  margin-top: 50px;
  padding-bottom: 100px;
}

.section_mug .swiper-button-prev, .swiper-button-next {
  top: auto;
  bottom: 10px;
  width: 38px;
  height: 38px;
  background-color: #fbe550;
  border-radius: 100%;
}
.section_mug .swiper-button-prev::after, .swiper-button-next::after {
  content: "";
  background-image: url(../img/svg/arrow.svg);
  width: 7px;
  height: 13px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -4px;
  transition: all 0.25s ease;
}
.section_mug .swiper-button-prev:hover::after, .swiper-button-next:hover::after {
  background-image: url(../img/svg/arrow-hover.svg);
}

.section_mug .swiper-button-next {
  right: auto;
  left: calc(50% + 10px);
}
.section_mug .swiper-button-next::after {
  transform: rotate(180deg);
  margin-left: -2px;
}

.section_mug .swiper-button-prev {
  left: auto;
  right: calc(50% + 10px);
}

.section_memo {
  overflow-x: clip;
}
.section_memo::after {
  content: "";
  position: absolute;
  display: block;
  top: -200px;
  left: 0;
  width: 1400px;
  height: 193px;
  background-image: url(../img/svg/gl-line.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  z-index: -1;
}

.section_team .swiper-button-next,
.section_team .swiper-button-prev {
  top: auto;
  bottom: 80px;
  width: 31px;
  height: 31px;
  background-color: #fbe550;
  border-radius: 100%;
}
.section_team .swiper-button-next::after,
.section_team .swiper-button-prev::after {
  content: "";
  background-image: url(../img/svg/arrow.svg);
  width: 5px;
  height: 11px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -4px;
  transition: all 0.25s ease;
}
.section_team .swiper-button-next:hover::after,
.section_team .swiper-button-prev:hover::after {
  background-image: url(../img/svg/arrow-hover.svg);
}

.section_team .swiper-button-prev {
  left: 40px;
}

.section_team .swiper-button-next {
  right: 170px;
}
.section_team .swiper-button-next::after {
  transform: rotate(180deg);
  margin-left: -2px;
}

.section_contact {
  overflow-x: hidden;
}
.section_contact::after {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  left: 0;
  width: 1400px;
  height: 193px;
  background-image: url(../img/svg/gl-line.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  z-index: -1;
}

.section_time .iconInfo .icon {
  display: none;
}

.section_contact .wrapper .info_wrap .info_inner .school .text span {
  display: block;
}

.section_contact .wrapper .info_wrap .info_inner .school a.logo-sol img {
  transition: all 0.25s ease;
}
.section_contact .wrapper .info_wrap .info_inner .school a.logo-sol:hover img {
  box-shadow: 10px 15px 57px -7px rgba(251, 227, 68, 0.3);
}

.white-popup-1 {
  position: relative;
  background: #FFF;
  padding-top: 76px;
  padding-right: 10px;
  padding-left: 35px;
  padding-bottom: 88px;
  width: 456px;
  max-width: 100%;
  margin: 0 auto;
  background-image: url(../img/svg/fone-popup.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.white-popup-1 .title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  color: #0c9748;
}
.white-popup-1 .description {
  margin-top: 20px;
  font-size: 24px;
  line-height: 34px;
  color: #345668;
}
.white-popup-1 ul {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.white-popup-1 ul li {
  list-style-type: none;
  position: relative;
  padding-left: 34px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  color: #345668;
}
.white-popup-1 ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #0c9748;
}
.white-popup-1 .slide-one {
  margin-top: 25px;
}
.white-popup-1 .slide-one .slide-one__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
  color: #0c9748;
}
.white-popup-1 .slide-one .slide-wrap {
  margin-top: 30px;
  padding-right: 10px;
}
.white-popup-1 .slide-one .slide-wrap .swiper {
  width: 100%;
  height: 212px;
}
.white-popup-1 .slide-one .slide-wrap .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-popup-1 .slide-one .slide-wrap .swiper-slide img {
  border-radius: 10px;
}
.white-popup-1 .slide-one .slide-wrap .swiper-button-prev-its, .white-popup-1 .slide-one .slide-wrap .swiper-button-next-its {
  top: auto;
  bottom: calc(50% - 19px);
  width: 38px;
  height: 38px;
  background-color: #fbe550;
  border-radius: 100%;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
.white-popup-1 .slide-one .slide-wrap .swiper-button-prev-its::after, .white-popup-1 .slide-one .slide-wrap .swiper-button-next-its::after {
  content: "";
  background-image: url(../img/svg/arrow.svg);
  width: 7px;
  height: 13px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -4px;
  transition: all 0.25s ease;
}
.white-popup-1 .slide-one .slide-wrap .swiper-button-prev-its:hover::after, .white-popup-1 .slide-one .slide-wrap .swiper-button-next-its:hover::after {
  background-image: url(../img/svg/arrow-hover.svg);
}
.white-popup-1 .slide-one .slide-wrap .swiper-button-next-its {
  left: auto;
  right: 0;
}
.white-popup-1 .slide-one .slide-wrap .swiper-button-next-its::after {
  transform: rotate(180deg);
  margin-left: -2px;
}
.white-popup-1 .slide-one .slide-wrap .swiper-button-prev-its {
  right: auto;
  left: 0;
}

.white-popup-form {
  position: relative;
  background: #FFF;
  padding-top: 76px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 88px;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  background-image: url(../img/svg/fone-popup.svg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.white-popup-form .title {
  color: #2ab7f3;
  font-size: 35px;
  line-height: 43px;
  font-weight: 500;
}
.white-popup-form .description {
  margin-top: 20px;
  font-size: 24px;
  line-height: 34px;
  color: #6e93a8;
}
.white-popup-form .contact-form {
  margin-top: 40px;
}
.white-popup-form .contact-form .button {
  display: block;
  width: 100%;
  margin-top: 29px;
}
.white-popup-form .contact-form label {
  padding-bottom: 14px;
  display: block;
}
.white-popup-form .contact-form input {
  border: 1px solid #DBC740;
}
.white-popup-form .contact-form select {
  width: 100%;
  padding: 21px 50px;
  background-color: #ffffff;
  font-size: 18px;
  color: #333333;
  border-radius: 45px;
  border: 1px solid #DBC740;
  transition: 0.4s;
  -webkit-appearance: none;
          appearance: none;
  background-image: url(../img/slide-popups/sel.svg), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 20px top 50%, 0 0;
  background-size: 23px auto, 100%;
  cursor: pointer;
}
.white-popup-form .contact-form select:focus {
  box-shadow: 10px 15px 57px -7px rgba(251, 227, 68, 0.4);
}
.white-popup-form .contact-form select::placeholder {
  color: #D0D0D0;
  font-size: inherit;
  transition: inherit;
}

.white-popup-3 {
  position: relative;
  background: #FFF;
  padding-top: 76px;
  padding-right: 10px;
  padding-left: 35px;
  padding-bottom: 88px;
  width: 670px;
  max-width: 100%;
  margin: 0 auto;
  background-image: url(../img/svg/fone-popup.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.white-popup-3 .title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  color: #DD137B;
}
.white-popup-3 .prise-popups-title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
  color: #dd137b;
  margin-top: 20px;
}
.white-popup-3 .prise-popups {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2ab7f3;
  margin-top: 6px;
}
.white-popup-3 ul {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.white-popup-3 ul li {
  list-style-type: none;
  position: relative;
  padding-left: 34px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  color: #345668;
}
.white-popup-3 ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #DD137B;
}
.white-popup-3 .slide-one {
  margin-top: 68px;
}
.white-popup-3 .slide-one .slide-one__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
  color: #DD137B;
}
.white-popup-3 .slide-one .slide-wrap {
  margin-top: 30px;
  padding-right: 10px;
}
.white-popup-3 .slide-one .slide-wrap .swiper {
  width: 100%;
  height: 212px;
}
.white-popup-3 .slide-one .slide-wrap .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.white-popup-3 .slide-one .slide-wrap .swiper-slide img {
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
  object-fit: cover;
  height: 212px;
}
.white-popup-3 .slide-one .slide-wrap .swiper-button-prev-its, .white-popup-3 .slide-one .slide-wrap .swiper-button-next-its {
  top: auto;
  bottom: calc(50% - 19px);
  width: 38px;
  height: 38px;
  background-color: #fbe550;
  border-radius: 100%;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
.white-popup-3 .slide-one .slide-wrap .swiper-button-prev-its::after, .white-popup-3 .slide-one .slide-wrap .swiper-button-next-its::after {
  content: "";
  background-image: url(../img/svg/arrow.svg);
  width: 7px;
  height: 13px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -4px;
  transition: all 0.25s ease;
}
.white-popup-3 .slide-one .slide-wrap .swiper-button-prev-its:hover::after, .white-popup-3 .slide-one .slide-wrap .swiper-button-next-its:hover::after {
  background-image: url(../img/svg/arrow-hover.svg);
}
.white-popup-3 .slide-one .slide-wrap .swiper-button-next-its {
  left: auto;
  right: 0;
}
.white-popup-3 .slide-one .slide-wrap .swiper-button-next-its::after {
  transform: rotate(180deg);
  margin-left: -2px;
}
.white-popup-3 .slide-one .slide-wrap .swiper-button-prev-its {
  right: auto;
  left: 0;
}

.white-popup-teams {
  position: relative;
  background: #FFF;
  padding-top: 76px;
  padding-right: 30px;
  padding-left: 54px;
  padding-bottom: 107px;
  width: 670px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url(../img/svg/fone-popup.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.white-popup-teams .photo {
  display: block;
  width: 260px;
  max-width: 50%;
  display: inline-block;
  height: 212px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.white-popup-teams .title {
  width: 400px;
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
}
.white-popup-teams .title p {
  font-size: 34px;
  line-height: 43px;
  font-weight: 500;
  color: #dd137b;
  padding: 0;
  margin: 0;
}
.white-popup-teams .title span {
  font-size: 24px;
  line-height: 34px;
  color: #345668;
  margin-top: 20px;
}
.white-popup-teams .biografi {
  display: block;
}
.white-popup-teams .biografi .biografi-title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
  color: #dd137b;
  margin-top: 39px;
}
.white-popup-teams .biografi .biografi-description {
  margin-top: 8px;
  font-size: 24px;
  line-height: 34px;
  color: #345668;
}
.white-popup-teams .slide-one {
  margin-top: 39px;
}
.white-popup-teams .slide-one .slide-one__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 500;
  color: #DD137B;
}
.white-popup-teams .slide-wrap {
  margin-top: 30px;
  padding-right: 10px;
}
.white-popup-teams .slide-wrap .swiper {
  width: 100%;
  height: 212px;
}
.white-popup-teams .slide-wrap .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.white-popup-teams .slide-wrap .swiper-slide img {
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
  object-fit: cover;
  height: 212px;
}
.white-popup-teams .slide-wrap .swiper-button-prev-its, .white-popup-teams .slide-wrap .swiper-button-next-its {
  top: auto;
  bottom: calc(50% - 19px);
  width: 38px;
  height: 38px;
  background-color: #fbe550;
  border-radius: 100%;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
.white-popup-teams .slide-wrap .swiper-button-prev-its::after, .white-popup-teams .slide-wrap .swiper-button-next-its::after {
  content: "";
  background-image: url(../img/svg/arrow.svg);
  width: 7px;
  height: 13px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -4px;
  transition: all 0.25s ease;
}
.white-popup-teams .slide-wrap .swiper-button-prev-its:hover::after, .white-popup-teams .slide-wrap .swiper-button-next-its:hover::after {
  background-image: url(../img/svg/arrow-hover.svg);
}
.white-popup-teams .slide-wrap .swiper-button-next-its {
  left: auto;
  right: 0;
}
.white-popup-teams .slide-wrap .swiper-button-next-its::after {
  transform: rotate(180deg);
  margin-left: -2px;
}
.white-popup-teams .slide-wrap .swiper-button-prev-its {
  right: auto;
  left: 0;
}

.white-popup-2 {
  position: relative;
  background: #FFF;
  padding-top: 76px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 107px;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background-image: url(../img/svg/fone-popup.svg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.white-popup-2 .items-p {
  margin-bottom: 50px;
}
.white-popup-2 .items-p .items-p__title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  color: #2ab7f3;
}
.white-popup-2 .items-p .items-p__image {
  margin-top: 50px;
}
.white-popup-2 .items-p .items-p__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: #6e93a8;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
.white-popup-2 a.button-popups {
  text-decoration: none;
  height: 64px;
  width: calc(100% - 60px);
  border-radius: 46px;
  background-color: #2ab7f3;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  line-height: 64px;
  transition: all 0.25s ease;
}
.white-popup-2 a.button-popups:hover {
  box-shadow: 10px 15px 57px -7px rgba(251, 227, 68, 0.3);
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-close-btn-in .mfp-close {
  background-color: #2ab7f3;
  width: 31px;
  height: 31px;
  border-radius: 100%;
  line-height: 31px;
  font-size: 22px;
  color: #fff;
  opacity: 1;
  font-weight: 300;
  top: 13px;
  right: 16px;
  transition: color 0.25s ease;
}
.mfp-close-btn-in .mfp-close:hover {
  color: #000;
}

.section_team .team_wrapper .wrap .slider .item a {
  display: contents;
}

.section_form .row .timer_inner.timer-none {
  position: relative;
  z-index: 0;
}
.section_form .row .timer_inner.timer-none .timer {
  display: none;
}
.section_form .row .timer_inner.timer-none::after {
  content: "";
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  background-image: url(../img/children.png);
  z-index: -2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*==========  Desktop First  ==========*/
@media screen and (max-width: 1200px) {
  .section_benefits .wrap .item_10 {
    left: 75%;
  }

  .section_benefits .wrap .item {
    width: 230px !important;
  }

  .section_benefits .wrap .item_11 {
    left: 75%;
  }

  .section_benefits .wrap .item_4 {
    right: 75%;
  }

  .section_benefits .wrap .item_5 {
    right: 69%;
  }

  .section_benefits .wrap .item_13 {
    width: 500px !important;
  }

  .section_benefits .wrap .item_1 {
    right: 56%;
  }

  .section_benefits .wrap .item_2 {
    right: 64%;
  }

  .section_form {
    padding-top: 250px;
  }

  .section_team .team_wrapper .wrap {
    max-width: 640px;
    bottom: 75px;
  }

  .section_team {
    padding-bottom: 80px;
  }

  .section_team .swiper-button-next, .section_team .swiper-button-prev {
    bottom: 113px;
  }
}
@media screen and (max-width: 1024px) {
  .section_benefits .wrap .item {
    width: 180px !important;
  }

  .section_benefits .wrap .item_1 {
    right: 59%;
  }

  .section_benefits .wrap .item_7 {
    left: 59%;
  }

  .section_benefits .wrap .item_8 {
    left: 64%;
  }

  .section_benefits .wrap .item_3 {
    right: 55%;
  }

  .section_benefits .wrap .item_9 {
    left: 58%;
  }

  .section_benefits .wrap .item_9:after {
    left: 47%;
  }

  .section_benefits .wrap .item_11:after {
    left: 41%;
  }

  .section_benefits .wrap .item_13 {
    width: 500px !important;
    top: 98%;
  }

  .section_time .circle_time {
    margin-top: 200px;
  }

  .section_form .title {
    line-height: 40px;
  }

  .section_form .row .form_inner .form .check {
    margin-left: 0;
  }

  .section_memo::after {
    top: -150px;
  }

  .section_team .team_wrapper .wrap {
    max-width: 460px;
  }

  .section_team .team_wrapper .wrap {
    bottom: 123px;
  }

  .section_team .swiper-button-next, .section_team .swiper-button-prev {
    bottom: 160px;
  }

  .section_team .swiper-button-next {
    left: auto;
    right: 98px;
  }

  .section_mug .mug_wrap .block_3 {
    top: 11%;
    left: 3%;
  }

  .section_mug .mug_wrap .block_5 {
    top: 31%;
    left: 4%;
  }

  .section_mug .mug_wrap .block_8 {
    top: 54%;
    left: 0%;
  }

  .section_mug .mug_wrap .block_10 {
    top: 68%;
    left: 22%;
  }
}
@media screen and (max-width: 768px) {
  .section_benefits .wrap .item_1 {
    width: 100px !important;
  }

  .section_benefits .wrap .item_2 {
    width: 90px !important;
  }

  .section_benefits .wrap .item_3 {
    width: 141px !important;
  }

  .section_benefits .wrap .item_4 {
    width: 81px !important;
  }

  .section_benefits .wrap .item_5 {
    width: 78px !important;
  }

  .section_benefits .wrap .item .text {
    line-height: 14px;
  }

  .section_benefits .wrap:after {
    height: 463px;
    background-position: top;
    background-size: cover;
  }

  .section_benefits .wrap .item_1 {
    top: 6%;
    right: 66%;
  }

  .section_benefits .wrap .item_2 {
    right: 72%;
    top: 20%;
  }

  .section_benefits .wrap .item_3 {
    right: 57%;
    top: 33%;
  }

  .section_benefits .wrap .item_4 {
    right: 61%;
    top: 45%;
  }

  .section_benefits .wrap .item_5 {
    right: 76%;
    top: 74%;
  }

  .section_benefits .wrap .item_6 {
    top: 86%;
    width: 101px !important;
    right: 69%;
  }

  .section_benefits .wrap .item_13 {
    top: 99%;
    width: 320px !important;
  }

  .section_benefits .wrap .item_7 {
    width: 100px !important;
    text-align: left;
    top: 5%;
    left: 64%;
  }

  .section_benefits .wrap .item_8 {
    width: 95px !important;
    left: 73%;
    top: 17%;
  }

  .section_benefits .wrap .item:after {
    height: 4px;
  }

  .section_benefits .wrap .item_13:after {
    width: 100%;
    height: 8px;
  }

  .section_benefits .wrap .item_9 {
    width: 131px !important;
    left: 63%;
    top: 34%;
  }

  .section_benefits .wrap .item_10 {
    width: 91px !important;
    top: 46%;
    left: 56%;
  }

  .section_benefits .wrap .item_11 {
    width: 75px !important;
    left: 66%;
    top: 74%;
  }

  .section_benefits .wrap .item_12 {
    width: 144px !important;
    left: 56%;
    top: 85%;
  }

  .section_benefits .wrap {
    height: 500px;
  }

  .section_banner {
    margin-bottom: 20px;
  }

  .section_time-description {
    font-size: 14px;
    line-height: 23px;
  }

  .section_time .h2 {
    font-size: 33px;
    margin-bottom: 33px;
  }

  .section_time .circle_time {
    margin-top: 120px;
  }

  .section_form {
    background-size: 170%;
  }

  .section_time .circle_time {
    margin-bottom: 70px;
  }

  .section_form {
    padding-top: 155px;
  }

  .section_form .title {
    font-size: 33px;
    line-height: 36px;
    margin-bottom: 18px;
  }

  .section_form .row .form_inner .subtitle {
    font-size: 16px;
    line-height: 22px;
  }

  .section_form .row .form_inner .form .inputs_wrap input {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section_form:after {
    left: auto;
    right: -90px;
    bottom: -120px;
    height: 164px;
  }

  .section_form:before {
    right: auto;
    left: -115px;
    bottom: -120px;
    height: 164px;
  }

  .section_form {
    padding-bottom: 10px;
  }

  .section_mug {
    padding-top: 35px;
  }

  .section_mug .mug_wrap .block .iconInfo {
    left: 48%;
    top: 29%;
  }

  .section_mug .mug_wrap .block .text {
    margin-bottom: 38px;
  }

  .section_mug .mug_wrap {
    padding-bottom: 100px;
  }

  .section_memo .title_block .h2 {
    font-size: 36px;
    line-height: 39px;
  }

  .section_memo::after {
    left: -240px;
  }

  .section_team .team_wrapper .wrap .slider .item {
    height: 90px;
    width: 90px;
  }

  .section_team .team_wrapper {
    max-width: 276px;
    margin: 0 auto;
  }

  .section_team .team_wrapper .wrap .slider .item img {
    width: 85px;
    height: 90px;
  }

  .section_team .team_wrapper .wrap .slider .item {
    height: 105px;
  }

  .section_team .team_wrapper .wrap {
    max-width: 105px;
    margin: 0 auto;
  }

  .section_team .team_wrapper {
    padding-top: 115px;
    padding-right: 45px;
  }

  .section_team .swiper-button-next, .section_team .swiper-button-prev {
    bottom: 137px;
  }

  .section_team .swiper-button-prev {
    left: 23px;
  }

  .section_team .swiper-button-next {
    right: 70px;
  }

  .section_team {
    padding-top: 105px;
    padding-bottom: 0;
  }

  .section_team .h2 {
    font-size: 39px;
    line-height: 39px;
  }

  .section_fqa .h2 {
    font-size: 35px;
    line-height: 36px;
    text-align: left;
  }

  .section_contact {
    padding-top: 150px;
  }

  .section_contact h2 {
    font-size: 36px;
    line-height: 39px;
  }

  .section_contact .wrapper .info_wrap .info_inner .phones {
    max-width: 250px;
    margin: 0 auto;
  }

  .section_contact .wrapper .info_wrap .info_inner .address {
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }

  .section_contact .wrapper .info_wrap .info_inner .social_media {
    max-width: 250px;
    margin: 0 auto;
    text-align: left;
    margin-top: 10px;
  }

  .section_contact {
    padding-bottom: 30px;
  }

  .white-popup-1 .title {
    font-size: 28px;
    line-height: 32px;
  }

  .white-popup-1 .description {
    font-size: 18px;
    line-height: 24px;
  }

  .white-popup-1 ul li {
    font-size: 18px;
    line-height: 24px;
    padding-left: 28px;
  }
  .white-popup-1 ul li::before {
    top: 5px;
  }

  .white-popup-2 .items-p .items-p__title {
    font-size: 28px;
    line-height: 32px;
  }

  .white-popup-2 .items-p .items-p__text {
    font-size: 18px;
    line-height: 24px;
  }

  .white-popup-2 a.button-popups {
    font-size: 16px;
  }

  .white-popup-3 .title {
    font-size: 28px;
    line-height: 32px;
  }

  .white-popup-3 ul li {
    font-size: 18px;
    line-height: 24px;
  }
  .white-popup-3 ul li::before {
    top: 5px;
  }

  .white-popup-form .title {
    font-size: 28px;
    line-height: 32px;
  }

  .white-popup-form .description {
    font-size: 18px;
    line-height: 24px;
  }

  .white-popup-teams .photo {
    width: 260px;
    max-width: 100%;
  }

  .white-popup-teams .title {
    padding-left: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
  }

  .section_form .row .timer_inner.timer-none {
    display: none;
  }
}