html(lang="ru")
include ./components/head.pug

body
    .wrapper
        include ./components/header.pug
        include ./section/banner.pug
        include ./section/benefits.pug
        include ./section/time.pug
        include ./section/form.pug
        include ./section/mug.pug
        include ./section/video.pug
        include ./section/price.pug
        include ./section/memo.pug
        include ./section/fqa.pug
        include ./section/team.pug
        include ./section/contact.pug
    include ./components/footer.pug
include ./components/bottom.pug

           