$max-width: 1110;
$min-width: 320;
$body-font-size: 16;
$padd-container: 15;

$text-color: #333333;
$color_1: #14a0d5;
$color_2: #43b3e3;
$color_3: #dbc740;
$color_4: #0c9748;
$color_5: #fbe344;
$color_6: #DD137B;;
$font-family: "Rubik", sans-serif;
